<template>
  <div>
    <label for="range-1">Example range with min and max</label>
    <b-form-input
      id="range-1"
      v-model="value1"
      type="range"
      min="0"
      max="5"
    ></b-form-input>
    <div class="mt-2">Value1: {{ value1 }}</div>

    <label for="range-2">Example range with step value</label>
    <b-form-input
      id="range-2"
      v-model="value2"
      type="range"
      min="0"
      max="5"
      step="0.5"
    ></b-form-input>
    <div class="mt-2">Value2: {{ value2 }}</div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      value1: '2',
      value2: '2'
    }
  }
}
</script>
<style></style>
