<template>
  <div role="group">
    <b-container fluid>
      <b-row class="my-1">
        <b-col sm="3">
          <label for="input-none">No State:</label>
        </b-col>
        <b-col sm="9">
          <b-form-input
            id="input-none"
            :state="null"
            placeholder="No validation"
          ></b-form-input>
        </b-col>
      </b-row>

      <b-row class="my-1">
        <b-col sm="3">
          <label for="input-valid">Valid State:</label>
        </b-col>
        <b-col sm="9">
          <b-form-input
            id="input-valid"
            :state="true"
            placeholder="Valid input"
          ></b-form-input>
        </b-col>
      </b-row>

      <b-row class="my-1">
        <b-col sm="3">
          <label for="input-invalid">Invalid State:</label>
        </b-col>
        <b-col sm="9">
          <b-form-input
            id="input-invalid"
            :state="false"
            placeholder="Invalid input"
          ></b-form-input>
        </b-col>
      </b-row>
    </b-container>

    <label for="input-live">Name:</label>
    <b-form-input
      id="input-live"
      v-model="name"
      :state="nameState"
      aria-describedby="input-live-help input-live-feedback"
      placeholder="Enter your name"
      trim
    ></b-form-input>

    <!-- This will only be shown if the preceding input has an invalid state -->
    <b-form-invalid-feedback id="input-live-feedback">
      Enter at least 3 letters
    </b-form-invalid-feedback>

    <!-- This is a form text block (formerly known as help block) -->
    <b-form-text id="input-live-help">Your full name.</b-form-text>
  </div>
</template>

<script>
export default {
  computed: {
    nameState () {
      if (this.name.length > 2) {
        return true
      }
      return false
    }
  },
  data () {
    return {
      name: ''
    }
  }
}
</script>
<style></style>
